@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background: rgba(0, 0, 0, 0.979);
}

.link {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: grid;
  grid-template-areas: "overlap";
  place-content: center;
  text-transform: uppercase;
}

.wrapper > div {
  background-clip: text;
  -webkit-background-clip: text;
  color: #363833;
  font-family: "poppins", sans-serif;
  font-weight: 900;
  font-size: clamp(2em, 2vw, 4rem);
  grid-area: overlap;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px transparent;
}

div.bg {
  background-image: repeating-linear-gradient(
    105deg,
    #f1ebe0 0%,
    #383735 5%,
    #fffcf6 12%
  );
  color: transparent;
  filter: drop-shadow(5px 15px 15px black);
  transform: scaleY(1.05);
  transform-origin: top;
}

div.fg {
  background-image: repeating-linear-gradient(
    105deg,
    #fff9ee 0%,
    #77571d 23%,
    #ffb338 31%
  );
  color: transparent;
  transform: scale(1);
}
